<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{1,139},{70,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{80,74}</string>
                <key>textureRect</key>
                <string>{{165,1},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{77,140},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{153,142},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fat7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{60,77}</string>
                <key>textureRect</key>
                <string>{{1,79},{58,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fat8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{83,78},{60,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fat9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,80}</string>
                <key>spriteSourceSize</key>
                <string>{63,80}</string>
                <key>textureRect</key>
                <string>{{165,77},{63,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>snorlax.png</string>
            <key>size</key>
            <string>{246,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ba67f38365e0c681d31cec227b3cfd:34b7d41d7e6965321fa94bfe8c235599:0574fc80ba526b8151e5114748d1b351$</string>
            <key>textureFileName</key>
            <string>snorlax.png</string>
        </dict>
    </dict>
</plist>
